.plans-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 20px;
}

.plans-grid-1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 20px;

}

.plan-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
}

.plan-card h3 {
    margin-bottom: 10px;
}

.plan-card button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background: #0284c7;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}